<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	{% block static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/efect.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>Desarrollo y Hábitat Social Tinogasta</title>
  {% endblock %}
</head>
<body>
  <!-- Facebook -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v6.0"></script>
  {% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a href="{%url 'index'%}" class="navbar-brand">
        <img src="{% static 'img/logo-desarrollo.png' %}" alt="" style="width: 50px; height: auto;">Desarrollo y Hábitat Social</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'index'%}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gestion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%url 'form_query'%}">Realizar una solicitud</a>
            <a class="dropdown-item" href="{%url 'order_query'%}">Consultar estado de solicitudes</a>
          </div>
        </li>
        {% if perms.users.log_out %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'order_list'%}">Listado</a>
        </li>
        {% endif %}
      </ul>
      <a class="btn btn-outline-primary" href="{%url 'sign_in'%}">Administrador</a>
      {% if perms.users.log_out %}
      <a class="float-right btn btn-primary" href="{% url 'log_out'%}">Cerrar sesión</a>
      {% endif %}
    </div>
    </div>
  </nav>
  {% endblock %}
  {% block content %}
  {% endblock content %}
  {% block footer %}
          <!-- Footer -->
          <footer class="site-footer bg-primary pt-4 pb-4">
            <div class="container">
              <div class="row pt-2 mt-5 text-center text-light">
                <div class="col-md-12">
                  <p>
                  Copyright&copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  Departamento de Informática
                  </p>
                </div>
              </div>
            </div>
          </footer>
  {% endblock %}


  {% block js %}

  {% endblock %}

</body>
</html>