.color-expand:hover{
    filter: saturate(3);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: all 500ms;
}

.btn-circle {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
}