{% extends 'base/base.html'%}

{% block content%}

<div class="container pt-4">
    <div class="pb-4 pb-4">
        <p><strong>Importante: </strong></p>
        <ul>
            <li>Verifica que tus datos esten correctos antes de enviar el formulario.</li>
            <li>En caso de materiales o subsidios, debes detallar en que lo utilizaras.</li>
            <li>Si no tienes número de vivienda danos agunas referencias, un asistente social te hara una visita.</li>
            <li>Podras adjuntar tú receta si solicitas medicamentos.</li>
        </ul>
    </div>
    <div class="col col-lg-6 col-md-4 pb-4">
        <h5 class="text-center text-lg-left pb-4">Formulario de Solicitud</h5>
        <form method="post" class="pb-2" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
            <button class="btn btn-success btn-block" type="submit">Enviar</button>
        </form>
        <form class="form">
            <a class="btn btn-primary btn-block" href="{%url 'index'%}">Salir</a>
        </form>
    </div>
</div>


{% endblock %}