{% extends 'base/base.html' %}
{% load static%}

{%block header%}
{%endblock%}

{% block content %}
<div class="container pb-4 pt-4">
<form class="form-inline my-2 my-lg-0" type="get" method="POST" action="{%url 'order_search_users'%}">
 {% csrf_token %}
    <input class="form-control mr-sm-3" type="text" placeholder="Search" name="search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" href="">Busqueda por DNI</button>
</form>
</div>
<div class="container">
    <table class="table table-sm">
        <thead>
        <tr class="table-primary" >
            <td scope="col">#</td>
            <td scope="col">Fecha</td>
            <td scope="col">Nombre</td>
            <td scope="col">Apellido</td>
            <td scope="col">DNI</td>
            <td scope="col">Estado</td>
            <td scope="col">Datos</td>
        </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {%for order in object_list%}
                {% if order.state == True %}
                <tr class="table text-light" style="background-color: green;">
                {% elif order.state == False %}
                <tr class="table-danger">
                {% else %}
                <tr class="table-light">
                        {% endif %}
                <td>{{order.id}}</td>
                <td>{{order.date_order}}</td>
                <td>{{order.firts_name}}</td>
                <td>{{order.last_name}}</td>
                <td>{{order.document}}</td>
                <!-- State -->
                {% if order.state == False %}
                <td>Desaprobado</td>
                {% elif order.state == True %}
                 <td>Aprobado</td>
                {% else %}
                <td>Desconocido</td>
                {% endif %}
                <td><a class="btn btn-primary" href="{%url 'dates' order.id%}">Ver</a></td>
            </tr>
            {%endfor%}
            {% else %}
            <div class="alert alert-dismissible alert-success col-lg-6">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Ups! </strong>tú registro esta vacio.
            </div>
            {%endif%}
        </tbody>
    </table>
</div>
{% endblock%}

{% block footer %}
  
{% endblock footer %}