{% extends 'base/base.html'%}

{% block content%}
{% csrf_token %}
<div class="container pt-4 text-center ">
    <div class="row align-items-center">
        {% if order %}
        <div class="card offset-lg-3 col-lg-6 col-sm-12">
            <div class="card-header">
              Solicitud N° {{order.id}}
            </div>
            <div class="card-body">
              <h5 class="card-title text-uppercase">{{order.last_name}} {{order.firts_name}}</h5>
              <p>Emisión: {{order.date_order}}Hs.</p>
            </div>
            <div class="card-body">
            {% if order.state == True%}
                <h3 class="text-success">Solicitud Aprobada</h3>
                <p class="card-text text-uppercase">Pedido: {{order.order}}</p>
                <p class="text-uppercase">{{order.observation}}</p>
                {% if  order.detail == 'Entrega'%}
                <p class="text-uppercase">Se te realizara la entrega el día {{order.date_deliver}}, en {{order.place}}.</p>
                {% elif  order.detail == 'Visita'%}
                <p class="text-uppercase">Recibiras una visita social el día {{order.date_deliver}}, en el domicilio informado, {{order.address}}.</p>
                {% elif  order.detail == 'Entrevista'%}
                <p class="text-uppercase">Tienes una entrevista el día {{order.date_deliver}}, en {{order.place}}, confirma tú asistencia en el siguiente   <a href="{%url 'contact'%}"><code>formulario</code></a>.</p>
                {% endif %}
   
            {% elif order.state == False %}
                <h3 class="text-warning">Solicitud Denegada</h3>
                {% if order.observation %}
                <p><strong>Observación</strong></p>
                <p class="text-uppercase">{{order.observation}}</p>
                {% endif %}
            {% else %}
                <h3 class="text-primary">Estamos evaluando tú solicitud</h3>
            {% endif %}
            </div>
          </div>
        {% endif %}
    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; Departamento de Informática 2020</p>
</div>
{% endblock %}

{% block footer %}
{% endblock footer %}